
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

#header-container {
  background-color: blue;
  width: 98%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 7vh;
  color: #f1f1f1;
}
#city-container {
  background-color: #f1f1f1;
  width: 19%;
  height: 100%;
  margin: 10px;
}

#weather-container {
  background-color: #f1f1f1;
  width: 78%;
}

#current-container {
  background-color: #f1f1f1;
  width: 100%;
}

#location {
  font-size: 50px;
  padding-left: 5vh;
}





  #forecast-container {
  background-color: #f1f1f1;
  width: 78%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  }

  h2 {
      font-size: 3.5vh;
      background-color: aqua;
      padding-left: 1vh;
       margin-top: 10px;
    }
   
#csearch {
  padding: 4px;
  font-size: 20px;
  width: 90%;
  background-color: lightskyblue;
 }

.now {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 2vh;
}
.desc {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 2vh;
}

label {
  font-size: 20px;
  padding-left: 5vh;
  
}

.temp {

}

#citysearch {
  padding: 4px;
  font-size: 20px;
  width: 90%;
  background-color: lightskyblue;
  margin-top: 10px;
}

hr {
  height: 2px;
  width: 90%;
  margin-top: 20px;
  background-color: black;
}

button[type=button] {
  padding: 4px;
  font-size: 20px;
  width: 90%;
  background-color: darkgrey;
  margin-top: 10px;
  }



.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(198, 251, 133, 0.633) 0%,
    rgba(214, 177, 74, 0.841) 35%,
    rgba(230, 224, 113, 1) 100%
  );
}

.container1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(198, 251, 133, 0.633) 0%,
    rgba(214, 177, 74, 0.841) 35%,
    rgba(230, 224, 113, 1) 100%
  );
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.circle {
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}