
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}

#header-container {
  background-color: blue;
  width: 98%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 7vh;
  color: #f1f1f1;
}
#city-container {
  background-color: #f1f1f1;
  width: 19%;
  height: 100%;
  margin: 10px;
}

#weather-container {
  background-color: #f1f1f1;
  width: 78%;
}

/*#current-container {
  background-color: #f1f1f1;
  width: 100%;
}*/

  #location {
  font-size: 50px;
  padding-left: 5vh;
}


  h2 {
      font-size: 3.5vh;
      background-color: aqua;
      padding-left: 1vh;
       margin-top: 10px;
    }
   
#csearch {
  padding: 4px;
  font-size: 20px;
  width: 86%;
  background-color: lightskyblue;
 }




.now {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
}
.desc {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
}

.temp {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
  
}

.hum {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
  
}

.wspeed {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
}

.sunup {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
  
}

.sundn {
  font-size: 20px;
  padding-left: 5vh;
  padding-bottom: 1vh;
  
}



#submit {
  padding: 4px;
  font-size: 20px;
  width: 90%;
  background-color: lightskyblue;
  margin-top: 10px;
}

hr {
  height: 2px;
  width: 90%;
  margin-top: 20px;
  background-color: black;
}

button[type=button] {
  padding: 4px;
  font-size: 20px;
  width: 90%;
  background-color: darkgrey;
  margin-top: 10px;
  }

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}


#forecast-container {
  background-color: bisque;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  }

#day1 {
  width: 20%;
  background-color: #f1f1f1;
}



